@page 
@{ 
    ViewData["Title"] = "Bianco e Nero";
}
<link rel="stylesheet" href="~/css/BiancoENeroCss/IndexStyle.css" type="text/css" />

<div class="container" id="container">
    <div class="row" id="row">
        <div class="col-lg-4 col-sm-6" id="col">
            <p id="text" align="center">Il vino una lunga storia</p>
            <p id="image">
                <a href="~/Bianco E Nero/IlVinoUnaLungaStoria">
                    <img src="~/BiancoENeroImg/Storia.png" alt="NOT FOUND" />
                </a>
            </p>
        </div>
        <div class="col-lg-4 col-sm-6" id="col">
            <p id="text" align="center">Appunti di viticoltura</p>
            <p id="image">
                <a href="~/Bianco E Nero/AppuntiDiViticoltura/Index">
                    <img src="~/BiancoENeroImg/Grappolo.png" alt="NOT FOUND" />
                </a>
            </p>
        </div>
        <div class="col-lg-4 col-sm-6" id="col">
            <p id="text" align="center">I vini del territorio</p>
            <p id="image">
                <a href="~/Bianco E Nero/IViniDelTerritorio/Index">
                    <img src="~/BiancoENeroImg/Bottiglia.png" alt="NOT FOUND" />
                </a>
            </p>
        </div>
        <div class="col-lg-4 col-sm-6" id="col">
            <p id="text" align="center">Gli studiosi del vino</p>
            <p id="image">
                <a href="#">
                    <img src="~/BiancoENeroImg/Studioso.png" alt="NOT FOUND" />
                </a>
            </p>
        </div>
        <div class="col-lg-4 col-sm-6" id="col">
            <p id="text" align="center">Bere consapevole</p>
            <p id="image">
                <a href="#">
                    <img src="~/BiancoENeroImg/Calici.png" alt="NOT FOUND" />
                </a>
            </p>
        </div>
        <div class="col-lg-4 col-sm-6" id="col">
            <p id="text" align="center">Giocare con il vino</p>
            <p id="image">
                <a href="~/Bianco E Nero/GiocareConIlVino">
                    <img src="~/BiancoENeroImg/Controller.png" alt="NOT FOUND" />
                </a>
            </p>
        </div>
    </div>
</div>