@page
@model WebApp.Pages.Bianco_e_Nero.IndexModel
@{
}
<link rel="stylesheet" href="~/css/BiancoENeroCss/BiancoENeroStyle.css" type="text/css" />
<div class="container" id="container">
    <div class="row" id="row">
        <a>
            <div class="col sm-3 col-xs-3" id="col">
                <img src="~/css/BiancoENeroCss/Storia.png" alt="NOT FOUND" />
            </div>
        </a>
        <a>
            <div class="col sm-3 col-xs-3" id="col">
                <img src="~/css/BiancoENeroCss/Grappolo.png" alt="NOT FOUND" />
            </div>
        </a>
        <a>
            <div class="col sm-3 col-xs-3" id="col">
                <img src="~/css/BiancoENeroCss/Glass-bottle-wine.png" alt="NOT FOUND" />
            </div>
        </a>
        <a>
            <div class="col sm-3 col-xs-3" id="col">
                <img src="~/css/BiancoENeroCss/Studioso.png" alt="NOT FOUND" />
            </div>
        </a>
        <a>
            <div class="col sm-3 col-xs-3" id="col">
                <img src="~/css/BiancoENeroCss/Calici.png" alt="NOT FOUND" />
            </div>
        </a>
        <a>
            <div class="col sm-3 col-xs-3" id="col">
                <img src="~/css/BiancoENeroCss/Controller.png" alt="NOT FOUND" />
            </div>
        </a>
    </div>
</div>