@page
@{
}
<link rel="stylesheet" href="~/css/BiancoENeroCss/AppuntiDiVitiColturaStyle.css" type="text/css" />

<div class="container" id="container">
    <div class="row" id="row">
        <ul>
            <a href="./Terreno">
                <li class="col-lg-6 col-sm" id="sx">
                    <p id="text"><b>Il terreno</b></p>
                </li>
            </a>
            <a href="./Impianto">
                <li class="col-lg-6 col-sm" id="dx">
                    <p id="text"><b>Impianto</b></p>
                </li>
            </a>
            <a href="./Potatura">
                <li class="col-lg-6 col-sm" id="sx">
                    <p id="text"><b>Potatura</b></p>
                </li>
            </a>
            <a href="./Concimazione">
                <li class="col-lg-6 col-sm" id="dx">
                    <p id="text"><b>Concimazione</b></p>
                </li>
            </a>
            <a href="./Irrigazione">
                <li class="col-lg-6 col-sm" id="sx">
                    <p id="text"><b>Irrigazione</b></p>
                </li>
            </a>
            <a href="./Avversità">
                <li class="col-lg-6 col-sm" id="dx">
                    <p id="text"><b>Avversità</b></p>
                </li>
            </a>
            <a href="./Raccolta">
                <li class="col-lg-6 col-sm" id="sx">
                    <p id="text"><b>Raccolta</b></p>
                </li>
            </a>
            <a href="./Vendemmia">
                <li class="col-lg-6 col-sm" id="dx">
                    <p id="text"><b>Vendemmia</b></p>
                </li>
            </a>
        </ul>
    </div>
</div>