@page
@{
}
<link rel="stylesheet" href="~/css/BiancoENeroCss/RaccoltaStyle.css" type="text/css" />

<div class="container" id="container">
    <div class="row" id="row">
        <div class="col-lg-7 col-sm-12 col-xs-12" id="colSx">
            <h1>Raccolta</h1>
            <video src="~/BiancoENeroImg/Video/Raccolta.mp4" alt="NOT FOUND" />
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12" id="colDx">
            <p id="text">
                <span>
                    Il periodo per la raccolta varia tra luglio ed ottobre (nell' emisfero boreale) e tra febbraio e aprile (nell'emisfero australe),
                    dipende da molti fattori, anche se in maniera generica si identifica con il periodo in cui le uve hanno raggiunto il grado di maturazione desiderato,
                    cioè quando nell'acino il rapporto tra la percentuale di zuccheri e quella di acidi ha raggiunto il valore ottimale per il tipo di vino che si vuole produrre.
                </span>
            </p>
        </div> 
    </div>
</div>