@page
@{
    ViewData["Title"] = "Puzzle diVini";
}
<link rel="stylesheet" href="~/css/BiancoENeroCss/Puzzle.css" type="text/css">


<svg width="1700" height="950" id="intorno">
    <g><image xlink:href="/BiancoENeroImg/Puzzle/bianco.png" width="660" height="660" x="170" y="120"></image></g>
    <g><image xlink:href="/BiancoENeroImg/Puzzle/bianco2.png" width="700" x="950" y="120"></image></g>
    <g><image xlink:href="/BiancoENeroImg/Puzzle/bianco3.png" width="400" x="950" y="610"></image></g>
    <g><image xlink:href="/BiancoENeroImg/Puzzle/rosso.png" width="250" x="1400" y="610"></image></g>
    <a href="./Index">
        <g><image xlink:href="/BiancoENeroImg/Puzzle/bottone.png" width="550" x="1035" y="700"></image></g>
    </a>
    <text x="1417" y="660" font-size="35" fill="white" font-weight="bold" id="tempo">0000000 sec</text>
    <g id="fondo"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva.png" width="600" height="600" x="200" y="150"></image></g>
    <g class="padre" id="0"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva1.png" class="mobili"></image></g>
    <g class="padre" id="1"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva2.png" class="mobili"></image></g>
    <g class="padre" id="2"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva3.png" class="mobili"></image></g>
    <g class="padre" id="3"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva4.png" class="mobili"></image></g>
    <g class="padre" id="4"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva5.png" class="mobili"></image></g>
    <g class="padre" id="5"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva6.png" class="mobili"></image></g>
    <g class="padre" id="6"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva7.png" class="mobili"></image></g>
    <g class="padre" id="7"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva8.png" class="mobili"></image></g>
    <g class="padre" id="8"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva9.png" class="mobili"></image></g>
    <g class="padre" id="9"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva10.png" class="mobili"></image></g>
    <g class="padre" id="10"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva11.png" class="mobili"></image></g>
    <g class="padre" id="11"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva12.png" class="mobili"></image></g>
    <g class="padre" id="12"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva13.png" class="mobili"></image></g>
    <g class="padre" id="13"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva14.png" class="mobili"></image></g>
    <g class="padre" id="14"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva15.png" class="mobili"></image></g>
    <g class="padre" id="15"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva16.png" class="mobili"></image></g>
    <g class="padre" id="16"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva17.png" class="mobili"></image></g>
    <g class="padre" id="17"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva18.png" class="mobili"></image></g>
    <g class="padre" id="18"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva19.png" class="mobili"></image></g>
    <g class="padre" id="19"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva20.png" class="mobili"></image></g>
    <g class="padre" id="20"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva21.png" class="mobili"></image></g>
    <g class="padre" id="21"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva22.png" class="mobili"></image></g>
    <g class="padre" id="22"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva23.png" class="mobili"></image></g>
    <g class="padre" id="23"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva24.png" class="mobili"></image></g>
    <g class="padre" id="24"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva25.png" class="mobili"></image></g>
    <g class="padre" id="25"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva26.png" class="mobili"></image></g>
    <g class="padre" id="26"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva27.png" class="mobili"></image></g>
    <g class="padre" id="27"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva28.png" class="mobili"></image></g>
    <g class="padre" id="28"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva29.png" class="mobili"></image></g>
    <g class="padre" id="29"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva30.png" class="mobili"></image></g>
    <g class="padre" id="30"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva31.png" class="mobili"></image></g>
    <g class="padre" id="31"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva32.png" class="mobili"></image></g>
    <g class="padre" id="32"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva33.png" class="mobili"></image></g>
    <g class="padre" id="33"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva34.png" class="mobili"></image></g>
    <g class="padre" id="34"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva35.png" class="mobili"></image></g>
    <g class="padre" id="35"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco1/uva36.png" class="mobili"></image></g>
</svg>


<script type="text/javascript" src="~/js/BiancoENeroJs/Puzzle.js"></script>
