@page
@{
    ViewData["Title"] = "Puzzle diVini";
}
<link rel="stylesheet" href="~/css/BiancoENeroCss/Puzzle.css" type="text/css">


<svg width="1700" height="950" id="intorno">
    <g><image xlink:href="/BiancoENeroImg/Puzzle/bianco.png" width="660" height="660" x="170" y="120"></g>
    <g><image xlink:href="/BiancoENeroImg/Puzzle/bianco2.png" width="700" x="950" y="120"></g>
    <g><image xlink:href="/BiancoENeroImg/Puzzle/bianco3.png" width="400" x="950" y="610"></g>
    <g><image xlink:href="/BiancoENeroImg/Puzzle/rosso.png" width="250" x="1400" y="610"></g>
    <a href="./Index">
        <g><image xlink:href="/BiancoENeroImg/Puzzle/bottone.png" width="550" x="1035" y="700"></g>
    </a>
    <text x="1417" y="660" font-size="35" fill="white" font-weight="bold" id="tempo">0000000 sec</text>
    <g id="fondo"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/Gioco6.png" width="600" height="600" x="200" y="150"></g>
    <g class="padre" id="0"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-1-col-1.png" class="mobili"></g>
    <g class="padre" id="1"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-1-col-2.png" class="mobili"></g>
    <g class="padre" id="2"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-1-col-3.png" class="mobili"></g>
    <g class="padre" id="3"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-1-col-4.png" class="mobili"></g>
    <g class="padre" id="4"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-1-col-5.png" class="mobili"></g>
    <g class="padre" id="5"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-1-col-6.png" class="mobili"></g>
    <g class="padre" id="6"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-2-col-1.png" class="mobili"></g>
    <g class="padre" id="7"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-2-col-2.png" class="mobili"></g>
    <g class="padre" id="8"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-2-col-3.png" class="mobili"></g>
    <g class="padre" id="9"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-2-col-4.png" class="mobili"></g>
    <g class="padre" id="10"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-2-col-5.png" class="mobili"></g>
    <g class="padre" id="11"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-2-col-6.png" class="mobili"></g>
    <g class="padre" id="12"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-3-col-1.png" class="mobili"></g>
    <g class="padre" id="13"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-3-col-2.png" class="mobili"></g>
    <g class="padre" id="14"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-3-col-3.png" class="mobili"></g>
    <g class="padre" id="15"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-3-col-4.png" class="mobili"></g>
    <g class="padre" id="16"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-3-col-5.png" class="mobili"></g>
    <g class="padre" id="17"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-3-col-6.png" class="mobili"></g>
    <g class="padre" id="18"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-4-col-1.png" class="mobili"></g>
    <g class="padre" id="19"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-4-col-2.png" class="mobili"></g>
    <g class="padre" id="20"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-4-col-3.png" class="mobili"></g>
    <g class="padre" id="21"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-4-col-4.png" class="mobili"></g>
    <g class="padre" id="22"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-4-col-5.png" class="mobili"></g>
    <g class="padre" id="23"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-4-col-6.png" class="mobili"></g>
    <g class="padre" id="24"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-5-col-1.png" class="mobili"></g>
    <g class="padre" id="25"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-5-col-2.png" class="mobili"></g>
    <g class="padre" id="26"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-5-col-3.png" class="mobili"></g>
    <g class="padre" id="27"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-5-col-4.png" class="mobili"></g>
    <g class="padre" id="28"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-5-col-5.png" class="mobili"></g>
    <g class="padre" id="29"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-5-col-6.png" class="mobili"></g>
    <g class="padre" id="30"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-6-col-1.png" class="mobili"></g>
    <g class="padre" id="31"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-6-col-2.png" class="mobili"></g>
    <g class="padre" id="32"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-6-col-3.png" class="mobili"></g>
    <g class="padre" id="33"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-6-col-4.png" class="mobili"></g>
    <g class="padre" id="34"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-6-col-5.png" class="mobili"></g>
    <g class="padre" id="35"><image xlink:href="/BiancoENeroImg/Puzzle/Gioco6/row-6-col-6.png" class="mobili"></g>
</svg>


<script type="text/javascript" src="~/js/BiancoENeroJs/Puzzle.js"></script>
