@page
@{ 
    ViewData["Title"] = "Puzzle diVini";
}
    <link rel="stylesheet" href="~/css/BiancoENeroCss/IndexStyle.css" type="text/css" />

    <div class="container" id="container">
        <div class="row" id="row">
            <div class="col-lg-4 col-sm-6" id="col">
                <p id="image">
                    <a href="./PuzzleDiVino/Gioco1">
                        <img src="~/BiancoENeroImg/Puzzle/a1.png" alt="NOT FOUND" />
                    </a>
                </p>
            </div>
            <div class="col-lg-4 col-sm-6" id="col">
                <p id="image">
                    <a href="./PuzzleDiVino/Gioco2">
                        <img src="~/BiancoENeroImg/Puzzle/a2.png" alt="NOT FOUND" />
                    </a>
                </p>
            </div>
            <div class="col-lg-4 col-sm-6" id="col">
                <p id="image">
                    <a href="./PuzzleDiVino/Gioco3">
                        <img src="~/BiancoENeroImg/Puzzle/a3.png" alt="NOT FOUND" />
                    </a>
                </p>
            </div>
            <div class="col-lg-4 col-sm-6" id="col">
                <p id="image">
                    <a href="./PuzzleDiVino/Gioco4">
                        <img src="~/BiancoENeroImg/Puzzle/a4.png" alt="NOT FOUND" />
                    </a>
                </p>
            </div>
            <div class="col-lg-4 col-sm-6" id="col">
                <p id="image">
                    <a href="./PuzzleDiVino/Gioco5">
                        <img src="~/BiancoENeroImg/Puzzle/a5.png" alt="NOT FOUND" />
                    </a>
                </p>
            </div>
            <div class="col-lg-4 col-sm-6" id="col">
                <p id="image">
                    <a href="./PuzzleDiVino/Gioco6">
                        <img src="~/BiancoENeroImg/Puzzle/a6.png" alt="NOT FOUND" />
                    </a>
                </p>
            </div>
        </div>
    </div>