@page
@model WebApp.Pages.Personaggi.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h2>Personaggio</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Personaggio.OperaId" class="control-label"></label>
                <select asp-for="Personaggio.OperaId" class="form-control" asp-items="ViewBag.OperaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Personaggio.NomePersonaggio" class="control-label"></label>
                <input asp-for="Personaggio.NomePersonaggio" class="form-control" />
                <span asp-validation-for="Personaggio.NomePersonaggio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personaggio.VideoPersonaggio" class="control-label"></label>
                <input asp-for="Personaggio.VideoPersonaggio" class="form-control" type="file" accept="video/mp4"/>
                <span asp-validation-for="Personaggio.VideoPersonaggio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personaggio.TestoPersonaggio" class="control-label"></label>
                <input asp-for="Personaggio.TestoPersonaggio" class="form-control" />
                <span asp-validation-for="Personaggio.TestoPersonaggio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
