@page
@{ 
    ViewData["Title"] = "Il Vino: una lunga storia";
}
<link rel="stylesheet" href="~/css/BiancoENeroCss/IlVinoUnaLungaStoriaStyle.css" type="text/css" />

<section class="container-fluid" id="container">
    <div class="row" id="row">
        <div class="col-sm" id="col">
            <div class="timeline">
                <ol>
                    <li>
                        <div>
                            <time>1934</time>
                        </div>
                    </li>
                    <li id="second">
                        <div>
                            <time>1934</time>
                        </div>
                        <div id="imgUp">
                            <a href="./Preistoria">
                                <img src="~/BiancoENeroImg/IlVinoUnaLungaStoria/3.png" alt="NOT FOUND" />
                            </a>
                        </div>
                    </li>
                    <li id="third">
                        <div>
                            <time>1934</time>
                        </div>
                        <div id="imgDown">
                            <a href="./StoriaAntica">
                                <img src="~/BiancoENeroImg/IlVinoUnaLungaStoria/1.png" alt="NOT FOUND" />
                            </a>
                        </div>
                    </li>
                    <li id="fourth">
                        <div>
                            <time>1934</time>
                        </div>
                        <div id="imgUp">
                            <a href="./Medioevo">
                                <img src="~/BiancoENeroImg/IlVinoUnaLungaStoria/4.png" alt="NOT FOUND" />
                            </a>
                        </div>
                    </li>
                    <li id="fifth">
                        <div>
                            <time>1934</time>
                        </div>
                        <div id="imgDown">
                            <a href="./StoriaModerna">
                                <img src="~/BiancoENeroImg/IlVinoUnaLungaStoria/2.png" alt="NOT FOUND" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <div id="imgUp">
                            <a href="./StoriaContemporanea">
                                <img src="~/BiancoENeroImg/IlVinoUnaLungaStoria/5.png" alt="NOT FOUND" />
                            </a>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>