@page
<link rel="stylesheet" href="~/css/BiancoENeroCss/IlVinoUnaLungaStoriaStyle.css" type="text/css" />

<section class="container-fluid" id="container">
    <div class="row" id="row">
        <div class="col-sm" id="col">
            <div class="timeline">
                <ol>
                    <li>
                        <div>
                            <time>1934</time>
                        </div>
                    </li>
                    <li id="second">
                        <div>
                            <time>1934</time>
                        </div>
                        <div id="imgUp">
                            <img src="~/BiancoENeroImg/IlVinoUnaLungaStoria/Martello.png" alt="NOT FOUND"/>
                        </div>
                    </li>
                    <li id="third">
                        <div>
                            <time>1934</time>
                        </div>
                        <div id="imgDown">
                            <img src="~/BiancoENeroImg/IlVinoUnaLungaStoria/Elmo.png" alt="NOT FOUND" />
                        </div>
                    </li>
                    <li id="fourth">
                        <div>
                            <time>1934</time>
                        </div>
                        <div id="imgUp">
                            <img src="~/BiancoENeroImg/IlVinoUnaLungaStoria/Castello.png" alt="NOT FOUND" />
                        </div>
                    </li>
                    <li id="fifth">
                        <div>
                            <time>1934</time>
                        </div>
                        <div id="imgDown">
                            <img src="~/BiancoENeroImg/IlVinoUnaLungaStoria/Veliero.png" alt="NOT FOUND" />
                        </div>
                    </li>
                    <li>
                        <div id="imgUp">
                            <img src="~/BiancoENeroImg/IlVinoUnaLungaStoria/Cappello.png" alt="NOT FOUND" />
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>