@page
@{
    ViewData["Title"] = "Il Vino: una lunga storia";
}

<link rel="stylesheet" href="~/css/BiancoENeroCss/StoriaStyle.css" type="text/css" />

<div class="container2" id="container2">
    <div class="row">
        <div class="col-sm-2">
            <img src="~/BiancoENeroImg/IlVinoUnaLungaStoria/2.png" height="200" width="200">
        </div>
        <div class="col-sm-9">
            <div class="row">                
                    <div class="divcolor" id="divcolor1" style="background:#0091c2">
                        <p class="testodiv">Inserire testo per la storia moderna</p>
                    </div>
            </div>
            <div class="row">
                <a href="./Index">
                    <div class="divcolor" id="divcolor2">
                        <p class="testodiv">TimeLine della storia del vino</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container" id="container">
    <div class="row">

        <div class="col-sm-3" id="img">
            <video controls>
                <source src="~/img/video.mp4" />
                Spiacenti, il video non è al momento disponibile.
            </video>
        </div>

        <div class="col-sm-8" id="text">
            <p>
                Con la storia moderna si intende lo studio del periodo che va dal XV secolo, con la caduta di Costantinopoli
                (1453) e la scoperta dell’America (1492), all’inizio del XIX secolo, con il Congresso di Vienna e la 
                Restaurazione del 1815. </br>
                </br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in oluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in oluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>

    </div>
    <hr />
</div>
