@page
@model WebApp.Pages.Bianco_e_Nero.IViniDelTerritorio.SchedaViniModel
@{
    ViewData["Title"] = "I vini del territorio";
}
<link rel="stylesheet" href="~/css/BiancoENeroCss/SchedaViniStyle.css" type="text/css" />
<div class="container-fluid" id="container">
    <div class="row" id="row">
        <div class="col-sm-8" id="colSx">
            <img src="~/BiancoENeroImg/IViniDelTerritorio/Puglia.png" id="cartina"/>
            <p id="text">ciao</p>
            @if (ViewData["tipo"].Equals("rosso"))
            {
                <img src="~/BiancoENeroImg/IViniDelTerritorio/BimboRosso.png" id="imageBimbo"/>
            }
            else
            {
                <img src="~/BiancoENeroImg/IViniDelTerritorio/BimboBiondo.png" id="imageBimbo"/>
            }
        </div>
        <div class="col-sm-2" id="colDx">
            <div class="row" id="rowList">
                <ul>
                    <li class="col-lg-12 col-sm">
                        <button id="">Il terreno</button>
                    </li>
                    
                    <li class="col-lg-12 col-sm">
                        <button id="">Impianto</button>
                    </li>
                    
                    <li class="col-lg-12 col-sm">
                        <button id="">Potatura</button>
                    </li>
                    
                    <li class="col-lg-12 col-sm">
                        <button id="">Concimazione</button>
                    </li>
                    
                    <li class="col-lg-12 col-sm">
                        <button id="">Irrigazione</button>
                    </li>
                    
                    <li class="col-lg-12 col-sm">
                        <button id="">Avversità</button>
                    </li>
                    
                    <li class="col-lg-12 col-sm">
                        <button id="">Raccolta</button>
                    </li>
                    
                    <li class="col-lg-12 col-sm">
                        <button id="">Vendemmia</button>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>