@page
@model WebApp.Pages.Provenienze.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h2>Provenienza</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provenienza.NomeZona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provenienza.NomeZona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provenienza.Vino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provenienza.Vino.NomeVino)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Provenienza.ProvenienzaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
