html,body{
    width:100%;
    height:auto;
}

#container {
    margin:100px auto;
    min-height:800px;
    height:100%;
}

#row {
    height:800px;
    width:100%;
    margin:0 auto 50px auto;
}

#row #col {
    width: 150px;
    height: 30%;
    padding:5px;
    background-color: brown;
    border-radius: 40px;
    vertical-align:middle;
    margin-right:50px;
    margin-bottom:50px;
}

#col img {
    height: 100%;
    margin:0 auto;
    width:100%;
}