@charset "UTF-8";

div #product {
    width: 20%;
    padding: 20px;
}

    div #product img {
        border: 2px solid white;
        height: 80%;
        width: 100%;
    }

.titolo {
    margin-top: 20px;
    padding: 40px 0;
}

    .titolo h1 {
        font-family: "Global Serif";
        font-size: 35px;
        color: white;
    }
