@charset "UTF-8";

html {
    width: 100%;
    height: auto;
}

div #product {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
}

    div #product img {
        width: 100%;
        border: 2px solid white;
    }

div #list {
    margin: auto;
    width: 50%;
    margin-bottom: 100px;
}

    div #list ul {
        list-style-type: none;
        padding: 0;
    }

    div #list #select li {
        background-color: rgb(255,255,255);
        background-color: rgba(255,255,255,0.8);
        margin-bottom: 10px;
        text-align: center;
        padding: 5px;
        color: brown;
    }

        div #list #select li:hover {
            color: white;
            background-color:brown;
        }

    div #list #select a {
        text-decoration: none; 
        font-size: 30px;
        color: brown;
        font-family: "Global Sans Serif";
    }

@media screen and (max-width: 992px) {
    div #product {
        width: 50%;
        padding:0;
    }

    div #list {
        width: 80%;
    }
}       
