.container {
    height:100%;
    font-family: "Global Serif";
}

#video, #text {
    height: 50%;
    margin-top: 100px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    border-radius: 40px;
    color: black;
    width: 50%;
    padding: 0;
}

#text {
    margin-bottom:200px;
}


div #col {
    width:85%;
    margin:20px auto;
    padding:20px;
}

#image .row {
    margin: 0 auto;
    width: 100%;
}

div #img {
    padding: 30px;
    margin: 0 auto;
    width: 100%;
}

    div #img video {
        height: 100%;
        margin: 0 auto;
        width: 100%;
        border-radius: 40px;
    }





   

     
