@page
@model WebApp.Pages.Autori.DetailsModel
@{
}
<link rel="stylesheet" href="~/css/TramaStyle.css" type="text/css" />

<div class="container" id="video">
    <img src="@Html.DisplayFor(model => model.Autore.FotoAutore)" alt="NOT FOUND">
</div>

<div class="container" id="text">
    <p>
        Ciao 
    </p>
</div>
