@page
@model WebApp.Pages.Opere.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/IndexStyle.css" type="text/css" />

<div class="container" id="container">
    <div class="titolo">
        <h1>Scegli un'opera e divertiti</h1>
    </div>
    <div class="row">
        @foreach (var item in Model.Opera)
        {
                <div class="col-6 col-md-3" id="product">
                   
                         <a asp-page="./ProductDetails" asp-route-id="@item.OperaId" id="button" title="Visualizza la scheda prodotto"><img src="/img/@Html.DisplayFor(modelItem => item.FotoOpera)" alt="NOT FOUND" class="image"></a>
                  
                </div>

         }

        </div>
</div>