@page
@{
    ViewData["Title"] = "ProductDetails";
}
<link rel="stylesheet" href="~/css/ProductDetailsStyle.css" type="text/css" />

<div class="container">
    <div class="row">
        <div class="col-xs-3" id="product">
            <img src="~/css/libro1.jpg" alt="NOT FOUND" class="image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-3" id="list">
            <ul id="select">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Trama</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">L'autore</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Contesto</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Personaggi</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Recensioni</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Lascia un commento</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Acquista</a></li>
            </ul>
        </div>
    </div>
</div>