@page
@model WebApp.Pages.Vini.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h2>Vino</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="Form1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vino.NomeVino" class="control-label"></label>
                <input asp-for="Vino.NomeVino" class="form-control" />
                <span asp-validation-for="Vino.NomeVino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vino.StoriaVino" class="control-label"></label>
                <input asp-for="Vino.StoriaVino" class="form-control" />
                <span asp-validation-for="Vino.StoriaVino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vino.CaratteristicheVino" class="control-label"></label>
                <input asp-for="Vino.CaratteristicheVino" class="form-control" />
                <span asp-validation-for="Vino.CaratteristicheVino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vino.TipoVino" class="control-label"></label>
                <input type="radio" value="rosso" asp-for="Vino.TipoVino" class="form-control" /> Rosso
                <input type="radio" value="bianco" asp-for="Vino.TipoVino" class="form-control" /> Bianco
            </div>
            <div class="form-group">
                <label class="control-label">Zone </label>
                <select asp-for="Zone" asp-items="ViewBag.Zone"></select>
            </div>
            <div class="form-group">

                <input type="submit" value="Create" onsubmit="PageLoad()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
