@page
<link rel="stylesheet" href="~/css/BiancoENeroCss/GiocareConIlVinoStyle.css" type="text/css" />


<div class="container" id="container">
    <div class="row" id="row">
        <a href="./PuzzleDiVini" id="Sx">
            <div class="col-sm col-xs-12" id="colSx">
                <h1>Puzzle di Vino</h1>
                <h5>con le opere di De Stefano</h5>
            </div>
        </a>
        <a href="./RiConosciIVini">
            <div class="col-sm col-xs-12" id="colDx">
                <div class="row" id="row1">
                    <img src="~/BiancoENeroImg/GiocareConIlVino/PugliaLogo.png" alt="NOT FOUND" />
                </div>
                <div class="row" id="row2">
                    <h1>
                        <i>RiConosci i Vini?</i>
                        <br />
                    </h1>
                    <h5>
                        abbina le zone alla tipologia di vino
                    </h5>
                </div>
            </div>
        </a>
    </div>
</div>