@page
@{
    ViewData["Title"] = "RiConosci i Vini?";
}

<link rel="stylesheet" href="~/css/BiancoENeroCss/IViniDelTerritorioStyle.css" type="text/css" />

<div class="container" id="container">
    <div class="row" id="row">
        <div class="col-sm" id="col">
            <h1>
                <b>SELEZIONA UN BAMVINO</b>
            </h1>
            <a href="#">
                <img src="~/BiancoENeroImg/IViniDelTerritorio/BimboRosso.png" id="rosso" />
            </a>
            <a href="#">
                <img src="~/BiancoENeroImg/IViniDelTerritorio/BimboBiondo.png" id="biondo" />
            </a>
        </div>
    </div>
</div>