@page
@model WebApp.Pages.TramaModel
@{
    ViewData["Title"] = "Trama";
}
<link rel="stylesheet" href="~/css/TramaStyle.css" type="text/css" />

<div class="container" id="container">
    <h1 id="h1T40"><b>L'OPERA</b></h1>
    <hr />
    <div class="row" id="video">
        <div class="col-sm" id="img">
            <video controls>
                <source src="~/img/VideoOpere/@Html.DisplayFor(model => model.Opera.VideoOpera)">
                Spiacenti, il video non è al momento disponibile.
            </video>
        </div>
    </div>
    <div class="row" id="text">
        <div class="col-xs-3" id="col">
            <h5 id="h5T20"><b>@Html.DisplayFor(model => model.Opera.Titolo) - La Trama</b></h5>
            <br />
            <p id="p1T20">
                @Html.DisplayFor(model => model.Opera.Trama)
            </p>
        </div>
    </div>

    <a name="Contesto"></a>
    <div class="row" id="text">
        <div class="col-xs-3" id="col">
            <h5 id="h52T20"><b>@Html.DisplayFor(model => model.Opera.Titolo) - Il Contesto</b></h5>
            <br />
            <p id="p2T20">
                @Html.DisplayFor(model => model.Opera.Contesto)
            </p>
        </div>
    </div>
</div>
